@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&display=swap');

nav{
    padding: 1rem;
}

.nav-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.logo h2{
    font-family: "Sofadi One", system-ui;

    font-size: 1.5rem;
}

.nav-list{
    display:flex ;
    flex-direction: row;

    align-items: center;

}
.nav-list li{
    padding: 0 .9rem;
    list-style: none;
    font-size: 1.1rem;
    color: #000;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}
.search{
    display: flex;
    flex-direction: row;

}
.search input{
    border: none;
    background-color: #e2e7e8;
    color: #000;
    padding: .6rem .8rem;
    font-size: 1rem;
    border-radius: 1.3rem;
}

.search-icon{
    font-size: 1.5rem;
    padding: .2rem .5rem;
    font-weight: 800;
    cursor: pointer;
}
.login-btn , .signup-btn{
 padding: .5rem 1.4rem;
 font-size: 1.1rem;
 cursor: pointer;
 margin: 0 1rem;
 border-radius: 1.3rem;
 border: none;
}

.login-btn{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.signup-btn{
    background-color: #000;
    color: #fff;
}
