.footer {
    background-color: #07154e;
    color: #FFF7F7;
    padding: 2rem 0;
    font-family: "Roboto", sans-serif;
    position: relative;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
  }

  .footer-text{
    margin: .5rem 0;
  }
  

  @media (min-width: 768px) {
    .footer-container {
      grid-template-columns: repeat(3, 1fr);
    }
    .footer-links{
        margin-left: 3rem;
      }
  }
  
  .footer-heading {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .footer-text {
    font-size: 0.875rem;
    color: #FFF7F7;
    font-family: "Roboto", sans-serif;
  }
  
  .footer-links, .footer-contact {
    cursor: pointer;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-item {
    font-size: 0.875rem;
    color: #FFF7F7;
    margin-bottom: 0.5rem;
    transition: color 0.3s;
  }
  
  .footer-item:hover {
    color: #FFF7F7;
  }
  
  .footer-socials {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .footer-socials span {
    color: #FFF7F7;
    transition: color 0.3s;
  }
  
  .footer-socials span:hover {
    color: #FFF7F7;
  }
  
  .footer-bottom {
    border-top: 1px solid #FFF7F7;
    margin-top: 2rem;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: #FFF7F7;
  }
  